.wrapper
  h2= t('form.registrations.edit.title')

  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.error_notification 
 
    .form-inputs
      = f.input :name
      = f.input :email, required: true
      = f.input :password
      = f.input :password_confirmation
      = f.input :phone
      = f.input :company
      .form-select
        = f.input :position, as: :select, collection: position_collection
      = f.input :area_interest, as: :check_boxes, collection: area_interest_collection, item_wrapper_tag: :li,
        wrapper_html: { class: 'devise_checkboxes' }
    .form-actions-edit
      = f.button :submit, t('form.registrations.edit.send') 
