section.content-primary
  .wrapper
    - if @contents.any?
      h2 Resultado da busca
      ul.content-list
        - @contents.each do |content|
          li.content-box
            article
              h2 = link_to truncate(content.title, length: 80), [content.category, content]
              hr.waves-secondary
              p
                = truncate(content.description, length: 140)

              ul.content-actions-list
                li = link_to t('contents.index.edit'), [:edit, content.category, content] if is_admin?
                li = link_to t('contents.index.destroy'), [content.category, content], data: {:confirm => t('contents.index.confirm')}, :method => :delete if is_admin?

            .content-footer
              .attachment
                .icon = content.documents.size
              .attachment-label
                label =t('contents.index.attachments')
                = link_to t('.show'), [content.category, content]
    - else
      h2 Ooops!
      h4 = t('.search_without_content')
      hr.waves-secondary
      p
        = t('.suggestions')
        br
        = t('.send_email')
        br
        = link_to t('.back'), root_path
