.wrapper
  h2= t('form.password.edit.title')

  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!

    = f.hidden_field :reset_password_token
    
    .form-inputs-login
      = f.input :password
      = f.input :password_confirmation

    .form-inputs-login
      = f.submit t('form.password.edit.send')
