.wrapper
  h2= t('form.password.new.title')

  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = f.error_notification

    .form-inputs-login
      = f.input :email

    .form-actions-login
      = f.submit t('form.password.new.send')
