form {
  text-align: left;
}

fieldset {
  background: lighten($base-border-color, 10);
  border: $base-border;
  margin: 0 0 ($base-spacing / 2) 0;
  padding: $base-spacing;
}

input,
label,
select {
  font-family: $form-font-family;
  font-size: $form-font-size;
}

input[type='text'],
input[type='password'],
input[type='mail'],
input[type='search'] {
  background: $light-gray;
  display: inline-block;
}

//
label.string,
label.select {
  width: 150px;
}

textarea { background: lighten($light-gray,10); }

select.select { width: 400px; }

input[type='text'].string {
  background: lighten($light-gray,10);
  display: inline-block;
  width: 400px;
}

label {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: $base-spacing / 4;
  margin-right: 10px;
  text-transform: uppercase;
  color: #1f2c38;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

textarea,
#{$all-text-inputs},
select[multiple=multiple] {
  @include box-sizing(border-box);
  @include transition(border-color);
  background-color: white;
  border-radius: $form-border-radius;
  border: 1px solid $form-border-color;
  box-shadow: $form-box-shadow;
  font-family: $form-font-family;
  font-size: $form-font-size;
  margin-bottom: $base-spacing / 2;
  padding: ($base-spacing / 3) ($base-spacing / 3);
  width: 100%;

  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $base-spacing / 4;
}

input[type="file"] {
  padding-bottom: $base-spacing / 2;
  width: 100%;
}

select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}

.simple_form {
  .check_boxes {
    li {
      margin-left: 0px;
    }
  }
}