section.landing-primary
  .wrapper
    .translation-link
      - if I18n.locale == :"pt-BR"
        = link_to t('.es_version'), root_path(locale: :es)
      - else
        = link_to t('.ptbr_version'), root_path(locale: nil)
    = image_tag("waterdb-logo.svg", width: "300", heigh:"auto" ,class: "landing_icon")

    h1 = t('.title')
    
    p.sign-up-links
      = link_to t('.login'), new_user_session_path, id: "sign_in", class:"button"
      span ou
      = link_to t('.sign_up'), new_user_registration_path, class: "button"

section.landing-secondary
  .wrapper
    hr.waves-primary

    p = t('.features')
    p = t('.join_us')

    small 
      = t('.expiration_warning')
      a href=contact_path #{t('.expiration_warning_link')}
      = t('.expiration_warning_email')

footer.landing-footer
  section.landing-footer-primary
    .wrapper
      hr.waves-tertiary

      = image_tag("gph-categories.svg", width: "450", heigh:"auto" ,class: "landing_icon")

  section.landing-footer-secondary
    .wrapper
      small = t('.contact')
      h4 = t('.feedback')
      p  
        = t('.contact_head')
        a href=contact_path #{t('.contact_link')}
        = t('.contact_email')
