.wrapper
  h2= t('form.sessions.new.title')

  = simple_form_for(resource, as: resource_name, url: user_session_path) do |f|
    = f.error_notification
    .form-inputs-login
      = f.input :email, required: false
      = f.input :password, required: false

    .form-actions-login
      = f.button :submit, t('form.sessions.new.send') 
      p= link_to t('form.sessions.new.forget'), new_password_path(resource_name)
