// Mixins
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin cleaner {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

// Extra grid setting
.master-container { width: 100%; }
.wrapper {
  @include outer-container;
  text-align: center;
}

.error_notification {
  @include border-radius(5px);
  background: $light-red;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.error {
  color: $alert-base-color;
  &:before {
    content: "";
    display: inline-block;
    margin: 0 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    border-color: transparent $alert-base-color transparent transparent;
  }
}

//Common styles
.icon {
  @include border-radius(50%);
  background: lighten($medium-gray,40);
  border: 2px solid white;
  height: 42px;
  width: 42px;
  text-align: center;
  vertical-align: middle;
}

.headline {
  border-bottom: 1px dashed $medium-gray;
  margin-bottom: 20px;
  padding-top: 40px;
  position: relative;
  h1 { margin-bottom: 10px; }
  .icon-wrapper {
    background: image_url('gph-double-wave-1.svg') center no-repeat;
    left: 50%;
    margin-left: -80px;
    padding: 15px 0;
    position: absolute;
    top: -45px;
    width: 160px;
    .icon {
      height: 60px;
      margin: 0 auto;
      width: 60px;
    }
  }
}

h1 a.back-category {
  color:#252e45;
}

body {
	background:
    radial-gradient(rgba(white,.6), rgba(white,0)),
    linear-gradient(#969aa6, #605c6e) fixed;
  padding: 0;
  margin: 0;
}

body#body-landing {
  background: white;
}

.search-header {
  margin-top: 6px;
  input[type='text'].string {
    height: 30px;
    background: #f7f7f7;
    display: inline-block;
    width: 190px;
  }
}

.form-inputs, .form-inputs-login{
  margin-top: 10px;
  width: 625px;
  label {
    display: block;
  }
  input[type='text'],input[type='tel'],input[type='email'],input[type='phone'],input[type='password'] {
    width: 300px;
  }
  .form-actions {
    float: left;
  }
}

.form-inputs{
  margin-left: 300px;
}

.form-inputs-login{
  margin-left: 400px;
}


.form-select{
  width: 300px;
  select {
    width: 300px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
  }
}

.form-actions {
  float: right
}

.form-actions-edit {
  padding-left: 300px;
}

.form-actions-login{
  margin-left: 400px;
}

.devise_checkboxes{
  width: 400px;
  height: 200px;
  li {
    list-style-type: none;
    margin-left: 100px;

    input{
      float: left;
    }
  }
}

.contact-form {
  text-align:center;
  padding:30px;
  width: 70%;
  margin: 0 auto;
  margin-top:20px;
  background-color: white;
}

form.new_user{
  div.required_fields{
	  padding-left: 295px;
  	color: #2a2a2a
  }
}
