ul.dashboard-list {
  display: inline-block;
  margin: 60px auto 0 auto;

  li {
    float: left;
    margin-bottom: 40px;
    text-align: center;
    width: 150px;

    &:hover {
      a { color: white; }
      img {
        @include border-radius(50%);
        box-shadow: 0px 3px 3px 5px rgba(black,.05);
      }
    }

    &:nth-child(6n+1){
      clear: left;
    }

    a {
      color: darken(white,10);
      font-size: 14px;
      &:hover { color: white; }
    }

    .icon {
      height: 80px;
      margin: 0 auto;
      position: relative;
      width: 80px;

      .dashboard-icon {
        border: 0;
        height: 80px;
        margin: 0;
        position: absolute;
        left: 0;
        top: -2px;
        width: 80px;
      }
    }
  }
}