.landing-primary {
  background: image_url('landing-bg-top.jpg');
  background-size: cover;
  padding: 40px 0 90px 0;

  .translation-link {
    float: right;
  }

  p.sign-up-links span {
    margin: 0 10px;
  }

  img { margin-bottom: 10px; }

  h1 {
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 60%;
  }
  .button {
    font-size: 20px;
  }
}

.landing-secondary {
  padding: 0;
  position: relative;

  p {
    font-size: 20px;
    font-style: italic;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 60%;
  }

  hr.waves-primary {
    margin-top: -42px;
  }

  small {
    display: block;
    font-size: 16px;
    margin: 20px auto 0 auto;
    width: 60%;
  }
}

footer.landing-footer {
  background: none;
  padding: 0;

  .landing-footer-primary {
    background: image_url('bg-underwater.jpg') center 135px no-repeat;
    margin-top: 0;
    padding: 0;
    padding-bottom: 20px;

    hr.waves-tertiary {
      background: image_url('gph-hr-wave-2.svg') center repeat-x;
      background-size: 80px auto;
      border: none;
      height: 40px;
      margin: 0 auto;
      margin-bottom: 40px;
      opacity: .15;
      width: 360px;
    }

    img {
      height: auto;
      margin-bottom: 20px;
      width: 60%;
    }
  }

  .landing-footer-secondary {
    background: darken($deep-blue,10);
    padding-bottom: 20px;
    padding-top: 20px;

    h4 { color: white; }
  }
}
