<p><%= "#{ t('devise.mailer.confirmation_instructions.hello') } #{ @resource.email }" %>!</p>
<p><%=  t('devise.mailer.confirmation_instructions.body') %></p>

<p><%= link_to t('devise.mailer.confirmation_instructions.link') , edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%=  t('devise.mailer.confirmation_instructions.warning_email') %></p>
<p><%=  t('devise.mailer.confirmation_instructions.warning_password') %></p>
