header
  .wrapper
    h1.logo
      = link_to image_tag("waterdb-logo.svg" ,class: "menu_icon"), root_path

    nav
      - if user_signed_in?
        ul.user-nav-list
          li
            = render 'search'
          li
            p = current_user.name
          li.menu-top
            = image_tag("icons/icon-menu.svg", width: "20", heigh:"auto" ,class: "menu_icon")
            ul.user-nav-secondary
              li
                = link_to 'Home', root_path, id: "home"
              li
                = link_to t('.my_account'), edit_user_registration_path, id: "home"
              li
                = link_to t('.logout'), destroy_user_session_path, method: :delete, id: "sign_out"
              li
                - if I18n.locale == :"pt-BR"
                  = link_to t('.es_version'), root_path(locale: :es)
                - else
                  = link_to t('.ptbr_version'), root_path(locale: nil)
      - else
        ul.user-nav-list
          li
            = link_to t('.login'), new_user_session_path, id: "sign_in"
