= simple_form_for '', url: search_path, method: :get, html: { class: 'search-header' } do |f|
  = f.input :q, placeholder: 'Busca', label: false,
    input_html: { value: params[:q].is_a?(String) ? params[:q] : '' }
